
*{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1%;
    margin-right: 1%;
}
.khadija{
 border: 0;
 border-radius: 20px; 
 height: 10%;
 line-height: 2.5; 
 padding:   0 50px; 
 background-color: #ffc524;
 

}
.line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

    /******partie2******/
  
.profil {
    display: flex;
    width: 333%;
    height: 81%;
    justify-content: space-between;
    background-color: #EBE7E7;
    margin-top: 5%;
}
.icon{
    display: flex;
    padding: 5%;
    gap: 1rem;
    height: 37%;
    margin-top: 7%;
    padding-left: 26%;
    }
    .para1{
        margin-top: -3%;
        padding-left: 8%;
    }

    .radus{
        border-radius: 51%;
        width: 123%;
        height: 115%;
        background-color: #EBE7E7;
        margin-right: -6%;
    }
    .profil-img{
        position: relative;
        margin-left: 11%;
        margin-top: 21%;
        width: 80%;
    }
    .total{
        display: flex;
        margin-bottom: 2%;
        width: 26%;
    }
   div.sec{
    display: flex;
    justify-content: space-between;
    width: 96%;
   }




   
   /**************media***********/
   @media (max-width: 600px){
   
    .sec{
        flex-direction: column;
       }
   }