*{
    box-sizing: border-box;
}
.container_Add_Meal{
    width: 100%;
    border: 2px solid yellow;
    flex-flow: row wrap;
    display: inline-flex;
    padding: 5vh 2vh;
}
.container_Add_Meal .left{
    width: 30%;
    border: 2px dotted rgb(255, 0, 0);
    overflow: hidden;
}
.container_Add_Meal .right{
    width: 68%;
    border: 2px dotted rgb(0, 255, 21);
    margin: 30vh 0vh 5vh 2vh ;
}
.container_Add_Meal .left .logo{
    width: 100%;
    padding: 2vh 15vh ;
    box-shadow: 0px 0px 6px #9E9E9E;
    margin-bottom: 10vh;
}