*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin-left: 5%;
    margin-right: 5%;
}


/*************************Navigation***********************/
body nav{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}
body nav ul{
    list-style: none;
    align-items: center;
    display: flex;
}
body nav ul img{
    width: 60%;
}
body nav ul li:first-child{
    align-items: center;
    margin-left: 30px;
}
body nav ul li{
    align-items: center;
    margin-right: 30px;
}
body nav a{
    text-decoration: none;
    color: black;
}
body nav a h4:hover{
    background-color: #FFC420;
    padding: 5px;
}



/*************************Divaider***********************/
#divaider{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
}



/*************************Header***********************/
#img_header{
    width: 90%;
    height: 550px;
    position: absolute;
}
body header #text-header{
    max-width: 40%;
    max-height: 300px;
    position: relative;
    color: white;
    border: 2px solid ;
    padding: 0% 2% 0% 2%;
    border-radius: 5px;
    left: 5%;
    top: 80px;
    font-size: 140%;
    box-sizing: border-box;
}
body header a{
    position: relative;
    border: 2px solid ;
    text-decoration: none;
    width: 8%;
    color: white;
    padding: 10px 2% 10px 2%;
    border-radius: 5px;
    left: 5%;
    top: 90px;
}
body header a:hover{
    background-color: #FFC420;
}




/*************************Today's Menu***********************/
body section{
    position: absolute;
    top: 800px;
    width: 90%;
}
body section h1{
    position: relative;
    color: black;
    text-align: center;
}
body section h3{
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    color: #FFC420;
}
body section .articles{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
}
body section article{
    box-shadow: 0px 3px 10px rgb(0 0 0 / 10%);
    width: 25%;
    min-height: 480px;
    border-radius: 25px;
    margin-bottom: 50px;
}
body section article:hover{
    box-shadow: 0px 3px 20px rgb(0 0 0 / 10%);
    width: 26%;
    border-radius: 25px;
    margin-bottom: 50px;
}
body section article img{
    box-sizing: content-box;
    width: 100%;
    border-radius: 25px 25px 0 0;
    height: 280px;
}
body section h3{
    position: relative;
    text-align: center;
    color: #FFC420;
}
body section article p{
    position: relative;
    text-align: center;
    width: 80%;
    left: 10%;
}
body section article input{
    position: relative;
    color: white;
    background-color: #FFC420;
    border: none;
    border-radius: 20px;
    width: 40%;
    height: 30px;
}
body section article input:hover{
    position: relative;
    color: white;
    background-color: #FFC420;
    border: none;
    border-radius: 20px;
    width: 44%;
    height: 36px;
}





/*************************Rate Your Favorite***********************/
body main{
    margin-top: 1100px;
}
body main h1{
    text-align: center;
    width: 52%;
    margin-left: 24%;
    margin-right: 24%;
    font-size: 30px;
}
body main .retes{
    background-color: #FFC420;
    border-radius: 20px;
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
    min-height: 500px;
    display: flex;
}

body main #rete1{
    padding-top: 15px;
    width: 40%;
}
body main #rete1 h2{
    width: 70%;
    margin-top: 50px;
    margin-left: 12%;
}
body main article{
    width: 50%;
    min-height: 330px;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 25px;
    margin-left: 18%;
}
body main article img{
    box-sizing: content-box;
    width: 100%;
    height: 180px;
    border-radius: 25px 25px 0 0;
}
body main h3{
    text-align: center;
    color: #FFC420;
}
body main article p{
    text-align: center;
    left: 5%;
}

body main #rete2{
    width: 53%;
    margin-top: 40px;
}
body main #rete2 .h_etoile{
    display: flex;
    justify-content: space-between;
}
body main #rete2 h2{
    min-width: 50%;
    margin-bottom: 0px;
}
/**Debut  Etoiles **/
body main #rete2 .rating{
    min-width: 30%;
}
body  .rating a {
    color: black;
    text-decoration: none;
    font-size: 34px;
    float: right;
}
.rating a:focus, .rating a:hover, .rating a:hover ~ a, .rating a:focus ~ a {
    color: white;
}
/**Fin Etoile **/
body main #rete2 p{
    color: grey;
    width: 75%;
    margin-bottom: 0px;
}
body main #rete2 h3{
    text-align: center;
    color: black;
}
body main #rete2 textarea{
    width: 98%;
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: grey;
}
body main #rete2 input{
    width: 25%;
    height: 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: 40%;
    margin-bottom: 10px;
}



/*************************New Meals***********************/
body .main3{
    margin-top: 100px;
}
body .main3 h4{
    text-align: center;
}
body .main3 h1{
    text-align: center;
}
body .main3 h1:last-child{
    color: #FFC420;
}
body .add_new_meal_to_vote{
    display: flex;
    justify-content: space-evenly;
}
/** Debut Add**/
body #article0{
    width: 18%;
    text-align: center;
}
body #article0 img{
    width: 40px;
    height: 40px;
    position: relative;
}
body #article0 .aaa{
    display: block;
    position: absolute;
    width: 40px;
    top: 2500px;
    left: 16%;
    opacity: 0%;
}
body #article0 h3{
    color: #FFC420;
}
body #article0 h3 span{
    display: block;
}
body #article0 form{
    box-shadow: 0px 3px 10px rgb(0 0 0 / 10%);
    width: 100%;
    border-radius: 25px;
    margin-bottom: 50px;
}
body #article0 form .add{
    box-sizing: content-box;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 10%);
    width: 100%;
    height: 250px;
    border-radius: 25px 25px 0 0;
}
body #article0 form .add img{
    margin-top: 60px;
}
body #article0 form .add h2{
    width: 50%;
    color: #706F6D;
    margin-left: 25%;
}
body #article0 form input{
    width: 70%;
    border-radius: 5px;
    color: grey;
    margin-top: 15px;
    padding: 5px;
}
body #article0 form textarea{
    width: 70%;
    height: 80px;
    color: grey;
    border-radius: 5px;
    margin-top: 15px;
}
body #article0 form input:last-child{
    color: white;
    background-color: #FFC420;
    border: none;
    border-radius: 20px;
    width: 60%;
    height: 30px;
    margin-bottom: 15px;
}
/** Fin Add**/

/** Debut Other Add Meal**/
body #article1{
    width: 18%;
    text-align: center;
}
body #article1 h2{
    color: #FFC420;
}
body #article1 h2 span{
    display: block;
}
body #article1 article{
    box-shadow: 0px 3px 10px rgb(0 0 0 / 10%);
    width: 100%;
    border-radius: 25px;
    margin-bottom: 50px;
}
body #article1 article img{
    box-sizing: content-box;
    width: 100%;
    border-radius: 25px 25px 0 0;
    height: 250px;
}
body #article1 article .img_user{
    width: 35px; 
    height: 35px; 
    position: absolute;
    margin-top: -250px;
    display: block;
    background-color: white;
    border-radius: 50px;
    padding: 3px;
}
body #article1 article .user_rete{
    width: 20%;
    height: 40px;
    margin-top: 0px;
}
body #article1 h3{
    color: #FFC420;
}
body #article1 p{
    width: 90%;
    margin-left: 5%;
}
body #article1 h4{
    width: 100%;
}
body #article1 h4 span{
    display: block;
}
body #article1 input{
    position: relative;
    color: white;
    background-color: #FFC420;
    border: none;
    border-radius: 20px;
    width: 60%;
    height: 30px;
    bottom: 15px;
}
/** Fin Other Add Meal**/



/**** Debut Let's see what meals are presented this week! ****/
body .week{
    text-align: center;
}
body .meal_of_weeks{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
body .meal_of_weeks h1{
    color: black;
    text-align: center;
}
body .meal_of_weeks .meal_of_week{
    font-size: 80%;
    width: 30%;
}
body .meal_of_weeks .meal_of_week h3{
    text-align: center;
    color: #FFC420;
}
body .meal_of_weeks .meal_of_week .articles{
    display: flex;
    justify-content: space-evenly;
}
body .meal_of_weeks .meal_of_week .articles article{
    width: 48%;
    min-height: 230px;
    border-radius: 25px 25px;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 10%);
}
body .meal_of_weeks .meal_of_week .articles img{
    width: 100%;
    height: 160px;
    border-radius: 25px 25px 0px 0px;
}
body .meal_of_weeks .meal_of_week .articles h3{
    text-align: center;
    color: #FFC420;
}
body .meal_of_weeks .meal_of_week .articles input{
    width: 70%;
    height: 25px;
    margin: 10px 15% 15px 15%;
    border: none;
    background-color: #FFC420;
    border-radius: 20px;
}
/**** Fin Let's see what meals are presented this week! ****/





/**** Debut Debut Team -- Our Chefs ****/
body .team_our_chefs{
    margin-top: 100px;
    width: 100%;
}
body .team_our_chefs h2{
    text-align: center;
}
body .team_our_chefs h1{
    text-align: center;
    color: #FFC420;
}
body .team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
body .team_our_chefs .our_chefs{
    margin-top: 50px;
    width: 22%;
    border: 1px solid #FFA323;
    background-color: white;
}
body .team_our_chefs .our_chefs img{
    width: 100%;
    position: relative;
    transition-delay: 1s;
}
body .team_our_chefs .our_chefs:hover img{
    opacity: 40%;
    transition-delay: 0.25s;
}
body .team_our_chefs .our_chefs h3{
    text-align: center;
}
body .team_our_chefs .our_chefs h4{
    text-align: center;
    color: grey;
    margin-bottom: 40px;
}
body .team_our_chefs .our_chefs .inf_chef{
    position: relative;
    width: 0%;
    display: flex;
    margin-left: 48%;
    transition: width;
    transition-duration: 0.25s;
}
body .team_our_chefs .our_chefs:hover .inf_chef{
    position: relative;
    width: 60%;
    margin-left: 20%;
    transition-duration: 0.1s;
}


body .team_our_chefs .our_chefs .bag_team_our_chefs div:first-child{
    position: absolute;
    background-color: #FFA323;
    z-index: -1;
    width: 21%;
    height: 80px;
    margin-left: -0.65%;
    margin-top: -250px;
    transition: height 0.5s;
    transition-delay: 0.5s;
}
body .team_our_chefs .our_chefs .bag_team_our_chefs div:last-child{
    position: absolute;
    background-color: #FFA323;
    z-index: -1;
    width: 6%;
    height: 442px;
    margin-left: 7%;
    margin-top: -435px;
    transition: width 0.5s;
    transition-delay: 0.5s;
}

body .team_our_chefs .our_chefs:hover .bag_team_our_chefs div:first-child{
    position: absolute;
    background-color: #FFA323;
    width: 21%;
    height: 380px;
    margin-left: -0.6%;
    margin-top: -420px;
    transition: height 0.5s;
    transition-delay: 0.5s;
}
body .team_our_chefs .our_chefs:hover .bag_team_our_chefs div:last-child{
    position: absolute;
    background-color: #FFA323;
    width: 15%;
    height: 476px;
    margin-left: 2.4%;
    margin-top: -469px;
    transition: width 0.5s;
    transition-delay: 0.5s;
}
/**** Fin Debut Team -- Our Chefs ****/


/********* Debit Footer *********/
body footer{
    width: 100%;
    margin-top: 100px;
}
body footer .footer{
    background-color: black;
    padding-left: 30px;
    padding-bottom: 20px;
}
body footer svg{
    width: 14%;
}
body footer p{
    text-align: center;
    font-size: 80%;
}
/********* Fin Footer *********/